body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  h2, h3 {
    color: #007bff;
  }
  
  ul, ol {
    margin-top: 0;
    padding-left: 20px;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  p {
    margin-bottom: 10px;
  }

  a{
    text-decoration: none; 
    display:flex; 
    inline-size: 10%; 
    block-size:3%; 
    align-items: baseline;
  }
  