html{
  box-sizing: border-box; /*alternative box model*/
}

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
  text-decoration: none;
}

body{
  background-color: #45a29c;
  
}
.active{
  background-color: #fde150;
}
.container {
  border-radius: 10%;
  padding: 15px;
  inline-size:50%;
  block-size: 30%;

  margin: 0 auto;
  text-align: center;
  background-color: whitesmoke;
  box-sizing: content-box;
}

.big {
  inline-size:70%;
  block-size: 60%;
  border-radius: 2%;
  font-size: 0.7em;
  line-height: 1em;
  
}

.container > img {
  inline-size: 45%;
  block-size: auto;
  margin: 10px;
}

h1 {
  font-size: 1.5rem;
  color: #45a29c;
  margin-bottom: 15px;
  background-color: transparent;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  text-align: left;
}

a {
  text-decoration: none;
  
  color: #45a29c;
  font-weight: bold;
}

a:hover {
  color: #fde150;
}
